
.container {
    height: 100vh;
    
  }
  

  
  .left-section {
    background-color: hsl(210, 72%, 93%); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .illustration {
    max-width: 100%;
    height: auto;
  }
  
  .right-section {
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
   
    position: absolute;
    width: 100%;
    top: 5%;
    left: 4%;
   
  
  }
  
  
  .form-box {
    
    width: 80%;
    max-width: 400px;
  }
  
  .checkbox {
    margin: 16px 0;
  }
  
  .sign-in-button {
    
    padding: 10px 0;
    margin-top: 16px;
  }
  
  .Login-with-background {
    background-color: #ffffff;
 
    border-radius: 24px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
