.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NE {
  position: fixed; /* ใช้ fixed เพื่อให้คอนเทนเนอร์อยู่กลางจอ */
  top: 50%; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  left: 50%; /* จัดให้อยู่ตรงกลางแนวนอน */
  transform: translate(-50%, -50%); /* เลื่อนคอนเทนเนอร์ให้ตรงกลาง */
  background-color: #ffffff; /* พื้นหลังสีขาว */
  padding: 20px; /* เพิ่ม padding */
  border-radius: 8px; /* ขอบโค้งมน */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
  text-align: center;
  max-width: 400px; /* กำหนดขนาดสูงสุด */
  width: 100%; /* ให้เต็มความกว้าง */
}
.LoadServer{
  position: fixed; /* ใช้ fixed เพื่อให้คอนเทนเนอร์อยู่กลางจอ */
  top: 50%; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  left: 50%; /* จัดให้อยู่ตรงกลางแนวนอน */
  transform: translate(-50%, -50%); /* เลื่อนคอนเทนเนอร์ให้ตรงกลาง */
 
  padding: 20px; /* เพิ่ม padding */
  border-radius: 8px; /* ขอบโค้งมน */
  
  text-align: center;
  
  width: 100%; /* ให้เต็มความกว้าง */
}